*{
    
}

h1{
    color: rgb(4, 66, 148);
    text-shadow: 
    0 0 5px white,
    0 0 5px white,
    0 0 5px white;

}
h1:hover{
    /* color: green; */
    color: rgb(0, 0, 0);
    animation: tada; 
    animation-duration: 2s;
}

h2, h3, h4{
    /* color: rgb(187, 187, 187); */
    color: rgb(0, 0, 0);
    text-shadow: 
    0 0 5px white,
    0 0 5px white,
    0 0 5px white;

}

.slick-slide {
    margin: 0 10px;
}
.slick-prev::before, .slick-next:before {
    color: #000;
}

/*estilos de popup*/
#open-popup {padding:20px}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 40px;
  width: auto;
  max-width: 200px;
  margin: 20px auto;
  text-align: center;
}

body{
    /* background: linear-gradient(to left, rgb(120, 120, 120), grey); */
    background-image: url(../images/astract.jpg);
    background-attachment: fixed; 
}

.img{
    margin: 20px;
    margin-top: 35px;
    box-shadow: 
    0px 0px 15px black,
    0px 0px 15px black,
    0px 0px 15px black,
    0px 0px 15px black;
    border-radius: 0px 10px;
}
ul {
    text-align: center;
    margin-top: 25px;
}
ul li {
    display: inline-block;
    list-style: none;
    background: black;
    color: white;
    padding: 5px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    border-radius: 50px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 20px;
    width: 150px;
    box-shadow: 0px 0px 15px white inset,
    0px 0px 10px white;
}
.titulo{
    color: black;
    text-shadow: 
    0px 0px 5px white,
    0px 0px 5px white,
    0px 0px 5px white;
}

.caja{
    box-shadow: 
    0 0 100px white inset,
    0 0 15px white;

    border-radius: 0 15px;
    border: 1px solid rgb(255, 255, 255);

    color: black;

    padding: 3px;
}
.caja2{
    box-shadow: 
    0 0 50px rgb(0, 0, 0) inset,
    0 0 10px rgb(255, 255, 255);

    border-radius: 0 5px;
    border: 1px solid rgb(0, 0, 0);
}

.cajallena{
    box-shadow: 
    0 1px white inset,
    0 1px white;

    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0 8px;

    background-image: url(../images/humo.jpg);
    background-position-x: center;
/*  */
    /* background-repeat: repeat-x; */
    
    
}

.info{
    box-shadow: 0 0 30px white inset;
    border-radius: 0 8px;
}

.nombres{
    color: rgb(4, 66, 148);

    /* box-shadow: 
    0 0 50px black inset,
    0 0 50px black inset,
    0 0 50px black inset; */
}

/* .letra{
    box-shadow: 
    0 0 80px rgb(0, 0, 0) inset;
    
    text-decoration: underline;
    
} */

.ofrecemos{
    border-radius: 0 10px;
    border: 1px solid white;

    box-shadow: 
    0 0 50px white inset,
    0 0 50px white inset;

    padding: 5px;

}

.fuera{
    border-radius: 0 10px;
    border: 1px solid white;

    padding: 8px;

    box-shadow: 
    0 0 15px rgb(0, 66, 207) inset,
    0 0 15px rgb(0, 66, 207);
}
